.cityList {
  width: 100%;
  height: 65vh;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.cityList::-webkit-scrollbar {
  width: 0; /* Chrome, Safari, Edge */
}
